@page "/admin/advance"

<PageTitle>Advance Entry</PageTitle>

<div class="page">
	<div class="sidebar">
		<NavMenu />
	</div>

	<main>
		<article class="content px-4">
			<div class="container">
				<select class="form-select-sm" @onchange="OnLocationSelect">
					@foreach (var location in locations)
					{
						<option value="@location.Id">@location.Name</option>
					}
				</select>

				<div class="form-group">
					<label>Number</label>
					<input class="input-group-text" type="text" @bind="PersonModel.Number" @bind:after="OnPersonNumberChanged" placeholder="Number" />
				</div>

				<div class="form-group">
					<label>Name</label>
					@if (PersonModel.Id == 0)
					{
						<input class="input-group-text" type="text" @bind="PersonModel.Name" placeholder="Name" />
					}
					@if (PersonModel.Id != 0)
					{
						<input class="input-group-text" type="text" @bind="PersonModel.Name" placeholder="Name" readonly />
					}
				</div>

				<SfCheckBox Label="Loyalty" @bind-Checked="PersonModel.Loyalty" />

				<div class="form-group">
					<label>Booking Date</label>
					<SfDatePicker TValue="DateTime" Placeholder="Booking Date" Value="@AdvanceModel.AdvanceDate" Min="@DateTime.Now">
						<DatePickerEvents TValue="DateTime" ValueChange="OnBookingDateChanged"></DatePickerEvents>
					</SfDatePicker>
				</div>

				<div class="form-group">
					<label>Remarks</label>
					<input class="input-group-text" type="text" @bind="AdvanceModel.ApprovedBy" placeholder="Approved By" />
				</div>

				<div class="form-group">
					<label>Booking Amount</label>
					<input class="input-group-text" type="number" @bind="AdvanceModel.Booking" placeholder="Booking Amount" />
				</div>

				<div class="form-group">
					<label>Total Amount</label>
					<input class="input-group-text" type="number" placeholder="Total Amount" readonly @bind="totalAmount" />
				</div>

				<div class="form-group">
					<select class="form-select-sm" @onchange="OnPaymentModeSelect">
						@foreach (var paymentMode in paymentModes)
						{
							<option value="@paymentMode.Id">@paymentMode.Name</option>
						}
					</select>
					<input class="input-group-text" type="number" placeholder="Amount" @bind="amount" />
				</div>

				<button class="btn btn-primary" type="button" @onclick="OnAddButtonClick">Add</button>

				<SfGrid DataSource="@advancePaymentModels"
						ID="AdvanceGrid"
						@ref="AdvanceGrid"
						Height="200"
						Width="300"
						AllowSorting="true"
						AllowResizing="true">

					<GridEvents OnRecordClick="RecordClickHandler" TValue="AdvancePaymentModel"></GridEvents>

					<GridColumns>
						<GridColumn Field="@nameof(AdvancePaymentModel.PaymentModeId)" Type="ColumnType.Integer" Visible="false"></GridColumn>
						<GridColumn Field="@nameof(AdvancePaymentModel.PaymentModeName)" HeaderText="Mode" Type="ColumnType.String" Width="95"></GridColumn>
						<GridColumn Field="@nameof(AdvancePaymentModel.Amount)" Type="ColumnType.Integer"></GridColumn>
					</GridColumns>
				</SfGrid>

				<button class="btn btn-primary" type="button" @onclick="OnSaveButtonClick">Save</button>
			</div>
		</article>
	</main>
</div>