@page "/"

<PageTitle>Pub Report</PageTitle>

<div class="container">
	<div class="container-bottom">
		<SfDateTimePicker TValue="DateTime" Placeholder="From Date Time" Value="@FromDateTime" Max="@ToDateTime">
			<DateTimePickerEvents TValue="DateTime" ValueChange="OnFromValueChanged"></DateTimePickerEvents>
		</SfDateTimePicker>
		<SfDateTimePicker TValue="DateTime" Placeholder="To Date Time" Value="@ToDateTime" Min="@FromDateTime">
			<DateTimePickerEvents TValue="DateTime" ValueChange="OnToValueChanged"></DateTimePickerEvents>
		</SfDateTimePicker>
	</div>

	<SfAccordion ExpandMode="ExpandMode.Single">
		<AccordionItems>
			@foreach (var location in _locations)
			{
				<AccordionItem>
					<HeaderTemplate>
						<label>@location.Name</label>
						<button class="btn btn-primary" type="button" @onclick="() => OnDetailedClick(location.Id)">
							Detailed
						</button>
					</HeaderTemplate>
					<ContentTemplate>
						<div class="accordion-content">
							<!-- First Row -->
							<div class="form-row">
								<div class="form-group">
									<label>Total People</label>
									<input type="number"
										   value="@((_transactionTotalsModel.FirstOrDefault(_ => _.LocationId == location.Id)?.Male ?? 0) + (_transactionTotalsModel.FirstOrDefault(_ => _.LocationId == location.Id)?.Female ?? 0))"
										   readonly />
								</div>
								<div class="form-group">
									<label>Total Amount</label>
									<input type="number"
										   value="@((_transactionTotalsModel.FirstOrDefault(_ => _.LocationId == location.Id)?.Cash ?? 0) + (_transactionTotalsModel.FirstOrDefault(_ => _.LocationId == location.Id)?.Card ?? 0) + (_transactionTotalsModel.FirstOrDefault(_ => _.LocationId == location.Id)?.UPI ?? 0) + (_transactionTotalsModel.FirstOrDefault(_ => _.LocationId == location.Id)?.Amex ?? 0))"
										   readonly />
								</div>
							</div>

							<!-- Second Row -->
							<div class="form-row">
								<div class="form-group">
									<label>Male</label>
									<input type="number"
										   value="@(_transactionTotalsModel.FirstOrDefault(_ => _.LocationId == location.Id)?.Male ?? 0)"
										   readonly />
								</div>
								<div class="form-group">
									<label>Cash</label>
									<input type="number"
										   value="@(_transactionTotalsModel.FirstOrDefault(_ => _.LocationId == location.Id)?.Cash ?? 0)"
										   readonly />
								</div>
							</div>

							<!-- Third Row -->
							<div class="form-row">
								<div class="form-group">
									<label>Female</label>
									<input type="number"
										   value="@(_transactionTotalsModel.FirstOrDefault(_ => _.LocationId == location.Id)?.Female ?? 0)"
										   readonly />
								</div>
								<div class="form-group">
									<label>Card</label>
									<input type="number"
										   value="@(_transactionTotalsModel.FirstOrDefault(_ => _.LocationId == location.Id)?.Card ?? 0)"
										   readonly />
								</div>
							</div>

							<!-- Fourth Row -->
							<div class="form-row">
								<div class="form-group">
									<label>Loyalty</label>
									<input type="number"
										   value="@(_transactionTotalsModel.FirstOrDefault(_ => _.LocationId == location.Id)?.Loyalty ?? 0)"
										   readonly />
								</div>
								<div class="form-group">
									<label>UPI</label>
									<input type="number"
										   value="@(_transactionTotalsModel.FirstOrDefault(_ => _.LocationId == location.Id)?.UPI ?? 0)"
										   readonly />
								</div>
							</div>

							<!-- Fifth Row (Amex on right) -->
							<div class="form-row">
								<div class="form-group">
									<!-- Empty spacer -->
								</div>
								<div class="form-group">
									<label>Amex</label>
									<input type="number"
										   value="@(_transactionTotalsModel.FirstOrDefault(_ => _.LocationId == location.Id)?.Amex ?? 0)"
										   readonly />
								</div>
							</div>

							<!-- Sixth Row -->
							<div class="form-row">
								<div class="form-group">
									<label>Total Advance</label>
									<input type="number"
										   value="@(_advanceTotalsModel.FirstOrDefault(_ => _.LocationId == location.Id)?.TotalAdvance ?? 0)"
										   readonly />
								</div>
								<div class="form-group">
									<label>Total Booking</label>
									<input type="number"
										   value="@(_advanceTotalsModel.FirstOrDefault(_ => _.LocationId == location.Id)?.TotalBooking ?? 0)"
										   readonly />
								</div>
							</div>

							<!-- Seventh Row -->
							<div class="form-row">
								<div class="form-group">
									<label>Redeemed</label>
									<input type="number"
										   value="@(_advanceTotalsModel.FirstOrDefault(_ => _.LocationId == location.Id)?.RedeemedAdvance ?? 0)"
										   readonly />
								</div>
								<div class="form-group">
									<label>Redeemed</label>
									<input type="number"
										   value="@(_advanceTotalsModel.FirstOrDefault(_ => _.LocationId == location.Id)?.RedeemedBooking ?? 0)"
										   readonly />
								</div>
							</div>

							<!-- Eighth Row -->
							<div class="form-row">
								<div class="form-group">
									<label>Not Redeemed</label>
									<input type="number"
										   value="@(_advanceTotalsModel.FirstOrDefault(_ => _.LocationId == location.Id)?.NotRedeemedAdvance ?? 0)"
										   readonly />
								</div>
								<div class="form-group">
									<label>Not Redeemed</label>
									<input type="number"
										   value="@(_advanceTotalsModel.FirstOrDefault(_ => _.LocationId == location.Id)?.NotRedeemedBooking ?? 0)"
										   readonly />
								</div>
							</div>
						</div>
					</ContentTemplate>
				</AccordionItem>
			}
		</AccordionItems>
	</SfAccordion>

	<div class="spacing"></div>

	<SfAccordion>
		<AccordionItems>
			<AccordionItem Header="Grand Total">
				<HeaderTemplate>
					<label style="font-weight:500">Grand Total</label>
				</HeaderTemplate>
				<ContentTemplate>
					<div class="accordion-content">
						<!-- First Row -->
						<div class="form-row">
							<div class="form-group">
								<label>Total People</label>
								<input type="number" value="@(_transactionTotalsModel?.Sum(_ => _.Male + _.Female) ?? 0)" readonly />
							</div>
							<div class="form-group">
								<label>Total Amount</label>
								<input type="number" value="@(_transactionTotalsModel?.Sum(_ => _.Cash + _.Card + _.UPI + _.Amex) ?? 0)" readonly />
							</div>
						</div>

						<!-- Second Row -->
						<div class="form-row">
							<div class="form-group">
								<label>Male</label>
								<input type="number" value="@(_transactionTotalsModel?.Sum(_ => _.Male) ?? 0)" readonly />
							</div>
							<div class="form-group">
								<label>Cash</label>
								<input type="number" value="@(_transactionTotalsModel?.Sum(_ => _.Cash) ?? 0)" readonly />
							</div>
						</div>

						<!-- Third Row -->
						<div class="form-row">
							<div class="form-group">
								<label>Female</label>
								<input type="number" value="@(_transactionTotalsModel?.Sum(_ => _.Female) ?? 0)" readonly />
							</div>
							<div class="form-group">
								<label>Card</label>
								<input type="number" value="@(_transactionTotalsModel?.Sum(_ => _.Card) ?? 0)" readonly />
							</div>
						</div>

						<!-- Fourth Row -->
						<div class="form-row">
							<div class="form-group">
								<label>Loyalty</label>
								<input type="number" value="@(_transactionTotalsModel?.Sum(_ => _.Loyalty) ?? 0)" readonly />
							</div>
							<div class="form-group">
								<label>UPI</label>
								<input type="number" value="@(_transactionTotalsModel?.Sum(_ => _.UPI) ?? 0)" readonly />
							</div>
						</div>

						<!-- Fifth Row (Amex on right) -->
						<div class="form-row">
							<div class="form-group">
								<!-- Empty spacer -->
							</div>
							<div class="form-group">
								<label>Amex</label>
								<input type="number" value="@(_transactionTotalsModel?.Sum(_ => _.Amex) ?? 0)" readonly />
							</div>
						</div>

						<!-- Sixth Row -->
						<div class="form-row">
							<div class="form-group">
								<label>Total Advance</label>
								<input type="number" value="@(_advanceTotalsModel?.Sum(_ => _.TotalAdvance) ?? 0)" readonly />
							</div>
							<div class="form-group">
								<label>Total Booking</label>
								<input type="number" value="@(_advanceTotalsModel?.Sum(_ => _.TotalBooking) ?? 0)" readonly />
							</div>
						</div>

						<!-- Seventh Row -->
						<div class="form-row">
							<div class="form-group">
								<label>Redeemed</label>
								<input type="number" value="@(_advanceTotalsModel?.Sum(_ => _.RedeemedAdvance) ?? 0)" readonly />
							</div>
							<div class="form-group">
								<label>Redeemed</label>
								<input type="number" value="@(_advanceTotalsModel?.Sum(_ => _.RedeemedBooking) ?? 0)" readonly />
							</div>
						</div>

						<!-- Eighth Row -->
						<div class="form-row">
							<div class="form-group">
								<label>Not Redeemed</label>
								<input type="number" value="@(_advanceTotalsModel?.Sum(_ => _.NotRedeemedAdvance) ?? 0)" readonly />
							</div>
							<div class="form-group">
								<label>Not Redeemed</label>
								<input type="number" value="@(_advanceTotalsModel?.Sum(_ => _.TotalBooking) ?? 0)" readonly />
							</div>
						</div>
					</div>
				</ContentTemplate>
			</AccordionItem>
		</AccordionItems>
	</SfAccordion>

	<div class="container-bottom">
		<button class="btn btn-primary" type="button" @onclick="SummaryButtonClicked">Summary Report</button>

		<select class="form-select-sm" name="locationSelect" @bind="_selectedLocationId" @bind:after="OnLocationChanged">
			@foreach (var location in _locations)
			{
				<option value="@location.Id">@location.Name</option>
			}
		</select>

		<div>
			<button class="btn btn-primary" type="button" @onclick="DetailedButtonClicked">PDF</button>
			<button class="btn btn-primary" type="button" @onclick="ExcelButtonClicked">Excel</button>
		</div>

		<select class="form-select-sm" name="userSelect" @bind="_selectedUserId">
			@foreach (var user in _users)
			{
				<option value="@user.Id">@user.Name</option>
			}
		</select>
		<input class="input-group-text" type="password" @bind="Password" />
		<button class="btn btn-primary" type="button" @onclick="AdvanceButtonClicked">Advance Entry</button>
		<button class="btn btn-primary" type="button" @onclick="AdminButtonClicked">Admin Panel</button>
	</div>
</div>